In [63]:
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from collections import OrderedDict
from flask import Flask, jsonify
import datetime as dt
import configparser
from flask_cors import CORS
import psycopg2
import pandas as pd

In [56]:
# Add in postgres credentials
#host = "localhost"
#db_name = "diamonds_db"
#user = "postgres"
#password = "postgres"
#port = "5432"

In [57]:
### Create engine 
        ### Create a f string and pass it to a variable
        ### create engine 
        
#conn_string = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{db_name}'
#engine = create_engine(conn_string)
#session = Session(bind=engine)

In [59]:
conn_string = "host='localhost' dbname='diamonds_db'\
user='postgres' password='postgres'"

In [60]:
conn = psycopg2.connect(conn_string)

In [ ]:
# Reflect diamond database into a model
#Base = automap_base()
#Base.prepare(autoload_with=engine)

In [67]:
df = pd.read_sql('select * from "diamonds"', conn)

df.head()

c:\Users\Owner\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [65]:
session.close()